  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}
body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #333;
  
  background-color: #f1ddc8;

}
.container {
  width: 600px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2rem;
}



header {
  background: url("http://via.placeholder.com/600x200");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px ;
  display: block;
}

/*
.header-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
*/
.header-wrapper h1 {
  z-index: 2;
  position: relative;
  text-align: center;
  top: 70%;
}

