* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 0;
}


.container {
  width: 600px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2rem;
}

.header-wrapper img {
  width: 100%;
  height: auto;
  padding: 0;
;
}

.header-wrapper h1 {
  z-index: 2;
  position: relative;
}